@using Qumrah.Web.Models.Multimedia
@model List<MultimediaVM>

<section class="person_images">
    <aside class="right-image">
        @for (int i = 0; i < Model.Count(); i += 3)
        {

            <div class="container-image-overlay">
                <div class="overlay">
                    <section class="overlay-profile">
                        <a asp-action="index" asp-controller="userprofile" asp-route-Id="@Model[i].User.Id" class="overlay-profile-img-name">
                            <img src="@Model[i].User.ImagePath" alt="Profile" class="profile-icon">
                            <div class="name"> اسم المستخدم </div>
                        </a>
                        <div class="overlay-profile-img-download">
                            <a href="#" class="button">
                                <button class="dowmload-Image-button" download="">
                                    <img src="images/download_icon.svg">
                                    <p>تحميل الصورة</p>
                                </button>
                            </a>

                        </div>
                    </section>
                </div>
                <img src="@string.Concat("/images/",Model[i].ThumbnailPath)" class="image">
            </div>
        }
    </aside>
    <aside class="middile-image">
        @for (int i = 1; i < Model.Count(); i += 3)
        {
            <div class="container-image-overlay">
                <div class="overlay">
                    <section class="overlay-profile">
                        <a asp-action="index" asp-controller="userprofile" asp-route-Id="@Model[i].User.Id" class="overlay-profile-img-name">
                            <img src="@Model[i].User.ImagePath" alt="Profile" class="profile-icon">
                            <div class="name"> اسم المستخدم </div>
                        </a>
                        <div class="overlay-profile-img-download">
                            <a href="#" class="button">
                                <button class="dowmload-Image-button" download="">
                                    <img src="images/download_icon.svg">
                                    <p>تحميل الصورة</p>
                                </button>
                            </a>

                        </div>
                    </section>
                </div>
                <img src="@string.Concat("/images/",Model[i].ThumbnailPath)" class="image">
            </div>
        }
    </aside>
    <aside class="left-image">
        @for (int i = 2; i < Model.Count(); i += 3)
        {
            <div class="container-image-overlay">
                <div class="overlay">
                    <section class="overlay-profile">
                        <a asp-action="index" asp-controller="userprofile" asp-route-Id="@Model[i].User.Id" class="overlay-profile-img-name">
                            <img src="@Model[i].User.ImagePath" alt="Profile" class="profile-icon">
                            <div class="name"> اسم المستخدم </div>
                        </a>
                        <div class="overlay-profile-img-download">
                            <a href="#" class="button">
                                <button class="dowmload-Image-button" download="">
                                    <img src="images/download_icon.svg">
                                    <p>تحميل الصورة</p>
                                </button>
                            </a>

                        </div>
                    </section>
                </div>
                <img src="@string.Concat("/images/",Model[i].ThumbnailPath)" class="image">
            </div>

        }
    </aside>
</section>
<div class="ImageLoader">
    <img src="images/loader.gif" alt="loader">
</div>