@using Qumrah.Web.Models.UserProfile
@model IndexVM
@{
    ViewBag.Title = "الصفحة الشخصية";
    var imagePath = string.IsNullOrEmpty(Model.ImagePath) ? "https://web-images-qomra.s3.eu-west-1.amazonaws.com/Profile_Picture.png" : Model.ImagePath;
}
@section Header {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .person_images img {
            width: 100%;
            margin: 1.6%;
        }
    </style>
}


<!-- Person Info -->
<div class="profile-container">
    <div>
        <img class="profile-picture" src="@imagePath" alt="Profile Picture">
    </div>

    <section>
        <div class="profile-header">
            <div class="profile-name-edit">
                <div class="profile-name">@Model.FirstName @Model.LastName</div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" class="profile-edit-button" style="text-decoration:none">
                        <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/edit_icon.png" alt="Edit Icon" class="edit-icon">
                        <div class="edit-text">تعديل الملف</div>
                    </a>
                }
            </div>
        </div>

        <div class="profile-location">
            @if (!string.IsNullOrEmpty(Model.Location))
            {
                <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/location_icon.png" alt="Location" class="location-icon">
                <span class="location-text">@Model.Location</span>

                <div class="divider"></div>
            }
            @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
            {
                <a href="@Model.WebsiteUrl" class="profile-social-icon">
                    <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/web_icon.png" alt="Website" class="profile-social-icon">
                </a>

            }
            @if (!string.IsNullOrEmpty(Model.InstagramLink))
            {
                <a href="@Model.InstagramLink" class="profile-social-icon">
                    <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/instagram_logo.png" alt="Instagram" class="profile-social-icon">
                </a>
            }
            @if (!string.IsNullOrEmpty(Model.FBLink))
            {
                <a href="@Model.FBLink" class="profile-social-icon">
                    <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/facebook_logo.png" alt="Facebook" class="profile-social-icon">
                </a>
            }
            @if (!string.IsNullOrEmpty(Model.TwitterLink))
            {
                <a href="@Model.TwitterLink" class="profile-social-icon">
                    <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/twitter_logo.png" alt="Twitter" class="profile-social-icon">
                </a>
            }
        </div>

        <div class="profile-description">
            <div>@Model.Description</div>
        </div>
    </section>
</div>

@await Html.PartialAsync("~/Views/Shared/Partials/_ImagesSection.cshtml", Model.Multimedias);




